@import "../../styles/variables";

.item-card {
  background: $WHITE;
  border-bottom: $GRAY_SHADOW solid 1px;
  padding: 30px 10px;
  display: flex;
  justify-content: space-between;

  &:hover {
    background: $GRAY_SHADOW;
  }

  &__title {
    margin: 0;
    color: $BLACK;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
  }

  &__category {
    min-width: 50px;
    font-size: 20px;
    font-weight: 400;
    color: $BLACK;
  }
}
