/* GENERAL LAYOUT  SIZES */
$HEADER_HEIGHT: 60px;
$MARGIN: 140px;

/* COLORS */
$WHITE: #fdfdfd;
$BLUE: #67c8ff;
$GRAY: #f6f6f6;
$BLACK: #2c2c2c;
$GRAY_SHADOW: rgba(210, 210, 210, 0.7);

/* FONTS */
$FONT_MAIN: "Noto Sans JP", sans-serif;

/* MEDIA DEVICES */
$TABLET: 1000px;
$MOBILE: 500px;
